/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:887ca83a90173416b47ae591573e41b5:a6ab5d0bdb94ea6408f574d5e91f9ce6:7dad2ab8a4760bef45c4b5ee7cf1073e$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(menu.png);}

.btn-menu_export_30fps000 {width:80px; height:320px; background-position: -1px -1px}
.btn-menu_export_30fps001 {width:80px; height:320px; background-position: -1px -1px}
.btn-menu_export_30fps002 {width:80px; height:320px; background-position: -1px -323px}
.btn-menu_export_30fps003 {width:80px; height:320px; background-position: -1px -645px}
.btn-menu_export_30fps004 {width:80px; height:320px; background-position: -1px -967px}
.btn-menu_export_30fps005 {width:80px; height:320px; background-position: -1px -1289px}
.btn-menu_export_30fps006 {width:80px; height:320px; background-position: -1px -1611px}
.btn-menu_export_30fps007 {width:80px; height:320px; background-position: -83px -1px}
.btn-menu_export_30fps008 {width:80px; height:320px; background-position: -83px -323px}
.btn-menu_export_30fps009 {width:80px; height:320px; background-position: -83px -645px}
.btn-menu_export_30fps010 {width:80px; height:320px; background-position: -83px -967px}
.btn-menu_export_30fps011 {width:80px; height:320px; background-position: -83px -1289px}
.btn-menu_export_30fps012 {width:80px; height:320px; background-position: -83px -1611px}
.btn-menu_export_30fps013 {width:80px; height:320px; background-position: -165px -1px}
.btn-menu_export_30fps014 {width:80px; height:320px; background-position: -165px -323px}
.btn-menu_export_30fps015 {width:80px; height:320px; background-position: -165px -645px}
.btn-menu_export_30fps016 {width:80px; height:320px; background-position: -165px -967px}
.btn-menu_export_30fps017 {width:80px; height:320px; background-position: -165px -967px}
.btn-menu_export_30fps018 {width:80px; height:320px; background-position: -165px -967px}
.btn-menu_export_30fps019 {width:80px; height:320px; background-position: -165px -967px}
.btn-menu_export_30fps020 {width:80px; height:320px; background-position: -165px -1289px}
.btn-menu_export_30fps021 {width:80px; height:320px; background-position: -165px -1611px}
.btn-menu_export_30fps022 {width:80px; height:320px; background-position: -247px -1px}
.btn-menu_export_30fps023 {width:80px; height:320px; background-position: -247px -323px}
.btn-menu_export_30fps024 {width:80px; height:320px; background-position: -247px -645px}
.btn-menu_export_30fps025 {width:80px; height:320px; background-position: -247px -967px}
.btn-menu_export_30fps026 {width:80px; height:320px; background-position: -247px -1289px}
.btn-menu_export_30fps027 {width:80px; height:320px; background-position: -247px -1611px}
.btn-menu_export_30fps028 {width:80px; height:320px; background-position: -329px -1px}
.btn-menu_export_30fps029 {width:80px; height:320px; background-position: -329px -323px}
.btn-menu_export_30fps030 {width:80px; height:320px; background-position: -329px -645px}
.btn-menu_export_30fps031 {width:80px; height:320px; background-position: -329px -967px}
.btn-menu_export_30fps032 {width:80px; height:320px; background-position: -329px -1289px}
.btn-menu_export_30fps033 {width:80px; height:320px; background-position: -329px -1611px}
.btn-menu_export_30fps034 {width:80px; height:320px; background-position: -411px -1px}
.btn-menu_export_30fps035 {width:80px; height:320px; background-position: -411px -323px}
.btn-menu_export_30fps036 {width:80px; height:320px; background-position: -411px -645px}
.btn-menu_export_30fps037 {width:80px; height:320px; background-position: -411px -967px}
.btn-menu_export_30fps038 {width:80px; height:320px; background-position: -411px -1289px}
.btn-menu_export_30fps039 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps040 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps041 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps042 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps043 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps044 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps045 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps046 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps047 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps048 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps049 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps050 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps051 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps052 {width:80px; height:320px; background-position: -411px -1611px}
.btn-menu_export_30fps053 {width:80px; height:320px; background-position: -493px -1px}
.btn-menu_export_30fps054 {width:80px; height:320px; background-position: -493px -323px}
.btn-menu_export_30fps055 {width:80px; height:320px; background-position: -493px -645px}
.btn-menu_export_30fps056 {width:80px; height:320px; background-position: -493px -967px}
.btn-menu_export_30fps057 {width:80px; height:320px; background-position: -493px -1289px}
.btn-menu_export_30fps058 {width:80px; height:320px; background-position: -493px -1611px}
.btn-menu_export_30fps059 {width:80px; height:320px; background-position: -575px -1px}
.btn-menu_export_30fps060 {width:80px; height:320px; background-position: -493px -1px}
.btn-menu_export_30fps061 {width:80px; height:320px; background-position: -575px -323px}
.btn-menu_export_30fps062 {width:80px; height:320px; background-position: -575px -645px}
.btn-menu_export_30fps063 {width:80px; height:320px; background-position: -575px -967px}
.btn-menu_export_30fps064 {width:80px; height:320px; background-position: -575px -1289px}
.btn-menu_export_30fps065 {width:80px; height:320px; background-position: -575px -1611px}
.btn-menu_export_30fps066 {width:80px; height:320px; background-position: -657px -1px}
.btn-menu_export_30fps067 {width:80px; height:320px; background-position: -657px -323px}
.btn-menu_export_30fps068 {width:80px; height:320px; background-position: -657px -645px}
.btn-menu_export_30fps069 {width:80px; height:320px; background-position: -657px -967px}
.btn-menu_export_30fps070 {width:80px; height:320px; background-position: -657px -967px}
.btn-menu_export_30fps071 {width:80px; height:320px; background-position: -657px -1289px}
.btn-menu_export_30fps072 {width:80px; height:320px; background-position: -657px -1289px}
.btn-menu_export_30fps073 {width:80px; height:320px; background-position: -657px -1289px}
.btn-menu_export_30fps074 {width:80px; height:320px; background-position: -657px -1289px}
.btn-menu_export_30fps075 {width:80px; height:320px; background-position: -657px -1289px}
.btn-menu_export_30fps076 {width:80px; height:320px; background-position: -657px -1289px}
.btn-menu_export_30fps077 {width:80px; height:320px; background-position: -657px -1289px}
.btn-menu_export_30fps078 {width:80px; height:320px; background-position: -657px -1289px}
.btn-menu_export_30fps079 {width:80px; height:320px; background-position: -657px -1611px}
.btn-menu_export_30fps080 {width:80px; height:320px; background-position: -739px -1px}
.btn-menu_export_30fps081 {width:80px; height:320px; background-position: -739px -323px}
.btn-menu_export_30fps082 {width:80px; height:320px; background-position: -739px -645px}
.btn-menu_export_30fps083 {width:80px; height:320px; background-position: -739px -967px}
.btn-menu_export_30fps084 {width:80px; height:320px; background-position: -739px -1289px}
.btn-menu_export_30fps085 {width:80px; height:320px; background-position: -739px -1611px}
.btn-menu_export_30fps086 {width:80px; height:320px; background-position: -821px -1px}
.btn-menu_export_30fps087 {width:80px; height:320px; background-position: -821px -323px}
.btn-menu_export_30fps088 {width:80px; height:320px; background-position: -821px -645px}
.btn-menu_export_30fps089 {width:80px; height:320px; background-position: -821px -645px}
.btn-menu_export_30fps090 {width:80px; height:320px; background-position: -821px -967px}
.btn-menu_export_30fps091 {width:80px; height:320px; background-position: -821px -1289px}
.btn-menu_export_30fps092 {width:80px; height:320px; background-position: -821px -1611px}
.btn-menu_export_30fps093 {width:80px; height:320px; background-position: -903px -1px}
.btn-menu_export_30fps094 {width:80px; height:320px; background-position: -903px -323px}
.btn-menu_export_30fps095 {width:80px; height:320px; background-position: -903px -645px}
.btn-menu_export_30fps096 {width:80px; height:320px; background-position: -903px -967px}
.btn-menu_export_30fps097 {width:80px; height:320px; background-position: -903px -1289px}
.btn-menu_export_30fps098 {width:80px; height:320px; background-position: -903px -1611px}
.btn-menu_export_30fps099 {width:80px; height:320px; background-position: -985px -1px}
.btn-menu_export_30fps100 {width:80px; height:320px; background-position: -985px -323px}
.btn-menu_export_30fps101 {width:80px; height:320px; background-position: -985px -645px}
.btn-menu_export_30fps102 {width:80px; height:320px; background-position: -985px -967px}
.btn-menu_export_30fps103 {width:80px; height:320px; background-position: -985px -1289px}
.btn-menu_export_30fps104 {width:80px; height:320px; background-position: -985px -1611px}
.btn-menu_export_30fps105 {width:80px; height:320px; background-position: -1067px -1px}
.btn-menu_export_30fps106 {width:80px; height:320px; background-position: -1067px -323px}
.btn-menu_export_30fps107 {width:80px; height:320px; background-position: -1067px -645px}
.btn-menu_export_30fps108 {width:80px; height:320px; background-position: -1067px -967px}
.btn-menu_export_30fps109 {width:80px; height:320px; background-position: -1067px -1289px}
.btn-menu_export_30fps110 {width:80px; height:320px; background-position: -1067px -1611px}
.btn-menu_export_30fps111 {width:80px; height:320px; background-position: -1149px -1px}
.btn-menu_export_30fps112 {width:80px; height:320px; background-position: -1149px -323px}
.btn-menu_export_30fps113 {width:80px; height:320px; background-position: -985px -1611px}
.btn-menu_export_30fps114 {width:80px; height:320px; background-position: -985px -1611px}
.btn-menu_export_30fps115 {width:80px; height:320px; background-position: -985px -1611px}
.btn-menu_export_30fps116 {width:80px; height:320px; background-position: -985px -1611px}
.btn-menu_export_30fps117 {width:80px; height:320px; background-position: -985px -1611px}
.btn-menu_export_30fps118 {width:80px; height:320px; background-position: -1149px -645px}
.btn-menu_export_30fps119 {width:80px; height:320px; background-position: -985px -1611px}
.btn-menu_export_30fps120 {width:80px; height:320px; background-position: -1149px -967px}
.btn-menu_export_30fps121 {width:80px; height:320px; background-position: -1149px -1289px}
.btn-menu_export_30fps122 {width:80px; height:320px; background-position: -1149px -1611px}
.btn-menu_export_30fps123 {width:80px; height:320px; background-position: -1231px -1px}
.btn-menu_export_30fps124 {width:80px; height:320px; background-position: -1231px -323px}
.btn-menu_export_30fps125 {width:80px; height:320px; background-position: -1231px -645px}
.btn-menu_export_30fps126 {width:80px; height:320px; background-position: -1231px -967px}
.btn-menu_export_30fps127 {width:80px; height:320px; background-position: -1231px -1289px}
.btn-menu_export_30fps128 {width:80px; height:320px; background-position: -1231px -1611px}
.btn-menu_export_30fps129 {width:80px; height:320px; background-position: -1313px -1px}
.btn-menu_export_30fps130 {width:80px; height:320px; background-position: -1313px -323px}
.btn-menu_export_30fps131 {width:80px; height:320px; background-position: -1313px -645px}
.btn-menu_export_30fps132 {width:80px; height:320px; background-position: -1313px -967px}
.btn-menu_export_30fps133 {width:80px; height:320px; background-position: -1313px -967px}
.btn-menu_export_30fps134 {width:80px; height:320px; background-position: -1313px -1289px}
.btn-menu_export_30fps135 {width:80px; height:320px; background-position: -1313px -1611px}
.btn-menu_export_30fps136 {width:80px; height:320px; background-position: -1395px -1px}
.btn-menu_export_30fps137 {width:80px; height:320px; background-position: -1395px -323px}
.btn-menu_export_30fps138 {width:80px; height:320px; background-position: -1395px -645px}
.btn-menu_export_30fps139 {width:80px; height:320px; background-position: -1395px -967px}
.btn-menu_export_30fps140 {width:80px; height:320px; background-position: -1395px -1289px}
.btn-menu_export_30fps141 {width:80px; height:320px; background-position: -1395px -1611px}
.btn-menu_export_30fps142 {width:80px; height:320px; background-position: -1477px -1px}
.btn-menu_export_30fps143 {width:80px; height:320px; background-position: -1477px -323px}
.btn-menu_export_30fps144 {width:80px; height:320px; background-position: -1477px -645px}
