<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89947542-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-89947542-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico?v=2">
    <title>Fullstory Collective</title>
    <meta name="description" content="Nous concevons et réalisons des expériences digitales et des installations interactives." />
    <meta property="og:title" content="Fullstory Collective">
    <meta property="og:description" content="Nous concevons et réalisons des expériences digitales et des installations interactives.">
    <meta property="og:image" content="/img/social.jpg">
    <meta property="og:url" content="http://fullstory.fr">
    <meta name="twitter:title" content="Fullstory Collective">
    <meta name="twitter:description" content="Nous concevons et réalisons des expériences digitales et des installations interactives.">
    <meta name="twitter:image" content="http://fullstory.fr">
    <meta name="twitter:card" content="/img/social.jpg">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body style="background-color: black;">
<div id="canvas-container">
    <img id="first-loader" style="position: absolute; left : 50%; top : 50%; transform: translate(-50%,-50%)" src="/img/loading_start.gif"/>
    <span class="loading"></span>
    <canvas></canvas>
    <div id="menu" style="display: none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1420.03 724.95">
            <defs>
                <style>.cls-1 {
                    fill: #1d1e1b;
                }
                .cls-2 {
                    fill: #1d1d1b;
                }</style>
            </defs>
            <g id="Layer_2" data-name="Layer 2">
                <g id="Calque_1" data-name="Calque 1">
                    <path class="cls-1"
                          d="M1413.84,575.84,1371.6,534l-1-1H903.37c-46.64,0-98.36-8.49-143-23.39,22.37-16.25,40-34.59,52.49-54.6a145.79,145.79,0,0,0,22.47-78.29A129.48,129.48,0,0,0,706,247.31c-71.32,0-129.34,58-129.34,129.33a145.76,145.76,0,0,0,22.49,78.3c12.49,20,30.14,38.35,52.53,54.61-44.65,14.89-96.32,23.37-142.92,23.37H49.87l-1,1L6.25,575.83,0,582H508.71a509.4,509.4,0,0,0,99.61-10.3c35.42-7.19,68.26-17.61,97.66-31,29.42,13.35,62.29,23.77,97.72,31A510.07,510.07,0,0,0,903.37,582H1420ZM786.21,376.64C786.21,430.81,743,466,706,486.26c-37-20.23-80.29-55.45-80.29-109.62a80.27,80.27,0,1,1,160.53,0Z"/>
                    <path class="cls-1" d="M354.23,156.54h4.48V98.7h65V60.8h-65V37.9h68.41V0H316.81V156.54h37.42Z"/>
                    <path class="cls-1"
                          d="M603.83,158c19.56,0,35.89-6.21,48.52-18.47s19.09-30,19.09-52.52V0H629.53V86c0,10.73-2.41,19.2-7.15,25.18-4.56,5.75-10.63,8.54-18.55,8.54s-14-2.8-18.67-8.56c-4.8-6-7.24-14.44-7.24-25.16V0H536V87c0,22.42,6.46,40.05,19.2,52.41S584.27,158,603.83,158Z"/>
                    <path class="cls-1" d="M890.59,156.54h4.49V118.22H832.16V0h-41.9V156.54H890.59Z"/>
                    <path class="cls-1" d="M1098.74,156.54h4.49V118.22h-62.92V0H998.4V156.54h100.34Z"/>
                    <path class="cls-1" d="M408.76,314.53V433.6h41.91V314.53h41.8V277.06H367v37.47h41.81Z"/>
                    <path class="cls-1"
                          d="M942.34,433.6h4.49V386.52h16l31.39,45.15,1.34,1.93h51.55l-5-7.08-34.16-48.25c17.06-8.41,25.7-24.45,25.7-47.75,0-18.53-5.51-32.28-16.38-40.88-10.7-8.47-27.67-12.58-51.87-12.58H904.92V433.6h37.42Zm48.71-103c0,6.58-1.55,11.32-4.63,14.08-2.21,2-7.47,4.34-20,4.34H946.83V314.32H967c11.92,0,17.23,2,19.59,3.62C989.57,320,991.05,324.26,991.05,330.63Z"/>
                    <path class="cls-1"
                          d="M1178.32,372V433.6h41.9V372l50.5-88.27,3.85-6.71h-46l-1.3,2.23-28,48.21-28-48.21-1.3-2.23h-46l3.84,6.71Z"/>
                    <path class="cls-1"
                          d="M207.48,435.29c17.18,0,31.32-4.5,42-13.38,11-9.09,16.51-21.09,16.51-35.65s-4.41-25.79-13.11-33.54c-8.26-7.36-19.88-12.92-34.54-16.53-16.74-4.12-23.07-6.82-25.42-8.37-2.61-1.7-3.78-3.7-3.78-6.48a8.26,8.26,0,0,1,3.12-6.88c2.32-1.91,5.73-2.88,10.13-2.88,9.81,0,19.61,2.83,29.13,8.43l3,1.76,2.45-2.46,21.38-21.37,3.67-3.67-4.17-3.11A85.67,85.67,0,0,0,234.48,279a95.42,95.42,0,0,0-31-5.31c-16,0-29.58,4.14-40.39,12.31-11.2,8.45-16.88,20.56-16.88,36s4.56,26.89,13.56,34.29c8.57,7.05,21.49,12.56,39.5,16.84,12.71,3.14,18,5.65,20.18,7.21a7.79,7.79,0,0,1,3.6,6.9,8.07,8.07,0,0,1-3.39,7c-2.63,2-6.52,3-11.54,3-11.58,0-24.51-5.88-38.45-17.47l-3.14-2.62-2.9,2.9-22,22-3.32,3.32,3.46,3.17C161.12,426.28,183.24,435.29,207.48,435.29Z"/>
                    <path class="cls-2"
                          d="M180.82,686.33q6.33,5.74,6.34,16T181,718.49q-6.15,6-18.83,6H147.63V680.59h15.06Q174.48,680.59,180.82,686.33Zm-1.13,16.16q0-15.06-17.25-15.06H155v30.05h8.22q8,0,12.21-3.79T179.69,702.49Z"/>
                    <path class="cls-2" d="M224.3,680.59h7.41v43.86H224.3Z"/>
                    <path class="cls-2"
                          d="M301.86,703.12h7.4v15q-6.21,6.84-17.75,6.84a22.38,22.38,0,0,1-16.29-6.4,23.27,23.27,0,0,1,.13-32.5,22.28,22.28,0,0,1,16.16-6.53q9.47,0,15.75,5.52l-4,5.65a15.36,15.36,0,0,0-5.17-3,19.49,19.49,0,0,0-6.06-.85,15.57,15.57,0,0,0-11.17,4.3,14.87,14.87,0,0,0-4.52,11.29q0,7,4.4,11.23a14.72,14.72,0,0,0,10.63,4.24,19,19,0,0,0,10.45-2.7Z"/>
                    <path class="cls-2" d="M346.6,680.59H354v43.86h-7.4Z"/>
                    <path class="cls-2" d="M410.35,687.36v37.09H403V687.36H389.64v-6.77h34v6.77Z"/>
                    <path class="cls-2"
                          d="M462.05,714.47l-4.39,10h-7.9l19.32-43.86H477l19.32,43.86h-7.9l-4.4-10ZM481,707.63l-8-18.07-8,18.07Z"/>
                    <path class="cls-2" d="M530,724.45V680.59h7.4v36.83h20v7Z"/>
                    <path class="cls-2"
                          d="M658,717.73a15.47,15.47,0,0,0,6.59-1.28,22.85,22.85,0,0,0,5.77-4.11l4.77,4.89A21.93,21.93,0,0,1,658.17,725a22.65,22.65,0,0,1-16.5-6.4,21.64,21.64,0,0,1-6.56-16.19,21.88,21.88,0,0,1,6.68-16.31q6.69-6.52,16.88-6.53a22.08,22.08,0,0,1,17,7.53L671,692.2a20.65,20.65,0,0,0-5.93-4.21,16.7,16.7,0,0,0-6.56-1.19,15.59,15.59,0,0,0-11.17,4.3,14.48,14.48,0,0,0-4.51,11,15.15,15.15,0,0,0,4.48,11.17A14.54,14.54,0,0,0,658,717.73Z"/>
                    <path class="cls-2"
                          d="M747.49,718.39a24,24,0,0,1-32.88,0,23,23,0,0,1,0-32.37,24,24,0,0,1,32.88,0,23,23,0,0,1,0,32.37Zm-5.43-27.45a15.38,15.38,0,0,0-22,0,16.38,16.38,0,0,0,0,22.53,15.38,15.38,0,0,0,22,0,16.38,16.38,0,0,0,0-22.53Z"/>
                    <path class="cls-2" d="M791.1,724.45V680.59h7.4v36.83h20v7Z"/>
                    <path class="cls-2" d="M854.22,724.45V680.59h7.41v36.83h20v7Z"/>
                    <path class="cls-2" d="M948.16,680.59v7H924.75v11.61h21v6.59h-21v11.73h24.16v7H917.35V680.59Z"/>
                    <path class="cls-2"
                          d="M1006,717.73a15.5,15.5,0,0,0,6.59-1.28,22.85,22.85,0,0,0,5.77-4.11l4.77,4.89a21.94,21.94,0,0,1-16.91,7.72,22.63,22.63,0,0,1-16.5-6.4,21.64,21.64,0,0,1-6.56-16.19,21.88,21.88,0,0,1,6.68-16.31q6.67-6.52,16.88-6.53a22.06,22.06,0,0,1,17,7.53l-4.7,5.15a20.65,20.65,0,0,0-5.93-4.21,16.7,16.7,0,0,0-6.56-1.19,15.57,15.57,0,0,0-11.17,4.3,14.48,14.48,0,0,0-4.52,11,15.16,15.16,0,0,0,4.49,11.17A14.54,14.54,0,0,0,1006,717.73Z"/>
                    <path class="cls-2" d="M1076.35,687.36v37.09h-7.41V687.36h-13.3v-6.77h34v6.77Z"/>
                    <path class="cls-2" d="M1125.29,680.59h7.4v43.86h-7.4Z"/>
                    <path class="cls-2" d="M1192.49,724.45h-8.28l-17.63-43.86h8.28l13.49,32.75,13.49-32.75h8.28Z"/>
                    <path class="cls-2" d="M1274.82,680.59v7h-23.41v11.61h21v6.59h-21v11.73h24.16v7H1244V680.59Z"/>
                </g>
            </g>
        </svg>
        <p>Nous concevons et réalisons des expériences digitales et des installations interactives.</p>
        <nav>
            <button data-target="explore">explorez nos projets</button>
            <a href="/best-of/2019.html">L'essentiel</a>
            <button data-target="contact">contactez-nous</button>
        </nav>
        <footer>
            <span>Nos dernières réalisations</span>
            <ul>
            </ul>
        </footer>
    </div>
</div>
<button id="burger" class="sprite" style="display: none;">
</button>
</body>
</html>
