$menuMargin: 65px;
$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
$menuStart: 200ms;
$menuFadeTime: 250ms;

html {
  background-color: black;
}

span.loading {
  display: none;
}

body.loading {
  pointer-events: none;

  span.loading {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, .5);
  }
}

body {
  margin: 0;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

button {
  z-index: 2;
  position: relative;
}

#canvas-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/noise.gif");
}

body.loaded {
  #burger {
    display: block !important;
  }

  #first-loader {
    display: none;
  }

  #menu {
    display: flex !important;
  }
}

#menu {
  overflow: hidden;
  will-change: transform;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 2;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  transform: translate(100%, 0);
  transition: transform 350ms $ease;

  &.open {
    transform: translate(0, 0);
  }

  .mobile & {
    width: 100%;
  }

  &.open {
    svg {
      opacity: 1;
      transform: translate(0, 0);
    }

    p {
      opacity: 1;
      transform: translate(0, 0);
    }

    nav {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  svg {
    width: 100px;
    height: auto;
    margin-bottom: 25px;
    margin-right: $menuMargin;
    margin-top: auto;
    opacity: 0;
    transform: translate(0, -10px);
    transition: opacity $menuFadeTime ease-out $menuStart, transform $menuFadeTime ease-out $menuStart;

    @media screen and (min-width: 640px) {
      width: 110px;
    }

    @media screen and (min-width: 1400px) {
      width: 150px;
    }

  }

  p {
    font-size: 2.5em;
    font-weight: 700;
    width: 70%;
    text-align: right;
    margin-bottom: 0;
    margin-right: $menuMargin;
    opacity: 0;
    transition: opacity $menuFadeTime ease-out ($menuStart + 50ms), transform $menuFadeTime ease-out ($menuStart + 50ms);
    transform: translate(0, -10px);

    @media screen and (min-width: 640px) {
      font-size: 4em;
      width: 65%;
    }
    @media screen and (min-width: 1400px) {
      font-size: 5em;
    }


  }

  nav {
    transform: translate(0, -10px);
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: auto;
    margin-right: $menuMargin;
    opacity: 0;
    transition: opacity $menuFadeTime ease-out ($menuStart + 100ms), transform $menuFadeTime ease-out ($menuStart + 100ms);

    a,
    button {
      text-decoration: none;
      color : black;
      text-transform: uppercase;
      text-align: right;
      padding: 0;
      border: 0;
      background-color: transparent;
      font-weight: 700;
      font-size: 1.2em;
      margin-bottom: .5em;
      border-bottom: 2px solid transparent;
      display: inline-block;
      align-self: flex-end;

      &:hover {
        border-bottom: 2px solid black;
      }

      @media screen and (min-width: 640px) {
        font-size: 1.6em;
        letter-spacing: .07em;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;

    span {
      font-weight: 700;
      font-size: 1.2em;
      margin-right: $menuMargin;
    }

    ul {
      display: flex;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, .3);
      margin: 10px 0 0 0;
      padding-right: $menuMargin;
      justify-content: flex-end;

      li {
        display: inline-block;
        flex-grow: 1;
        text-align: right;
        padding: 20px 0;
        max-width: 27%;


        @media screen and (min-width: 640px) {
          padding: 30px 0;
        }

        a {
          color: black;
          text-decoration: none;
          font-size: 1.2em;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#burger {
  position: absolute;
  border: none;
  transform: scale(.5, .5);
  transform-origin: right top;
  right: 0;
  top: 50px;
  background-color: transparent;
  padding: 0;
  outline: 0;
}

.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(./img/menu.png);
}

.menu000 {
  width: 80px;
  height: 320px;
  background-position: -1px -1px
}

.menu001 {
  width: 80px;
  height: 320px;
  background-position: -1px -1px
}

.menu002 {
  width: 80px;
  height: 320px;
  background-position: -1px -323px
}

.menu003 {
  width: 80px;
  height: 320px;
  background-position: -1px -645px
}

.menu004 {
  width: 80px;
  height: 320px;
  background-position: -1px -967px
}

.menu005 {
  width: 80px;
  height: 320px;
  background-position: -1px -1289px
}

.menu006 {
  width: 80px;
  height: 320px;
  background-position: -1px -1611px
}

.menu007 {
  width: 80px;
  height: 320px;
  background-position: -83px -1px
}

.menu008 {
  width: 80px;
  height: 320px;
  background-position: -83px -323px
}

.menu009 {
  width: 80px;
  height: 320px;
  background-position: -83px -645px
}

.menu010 {
  width: 80px;
  height: 320px;
  background-position: -83px -967px
}

.menu011 {
  width: 80px;
  height: 320px;
  background-position: -83px -1289px
}

.menu012 {
  width: 80px;
  height: 320px;
  background-position: -83px -1611px
}

.menu013 {
  width: 80px;
  height: 320px;
  background-position: -165px -1px
}

.menu014 {
  width: 80px;
  height: 320px;
  background-position: -165px -323px
}

.menu015 {
  width: 80px;
  height: 320px;
  background-position: -165px -645px
}

.menu016 {
  width: 80px;
  height: 320px;
  background-position: -165px -967px
}

.menu017 {
  width: 80px;
  height: 320px;
  background-position: -165px -967px
}

.menu018 {
  width: 80px;
  height: 320px;
  background-position: -165px -967px
}

.menu019 {
  width: 80px;
  height: 320px;
  background-position: -165px -967px
}

.menu020 {
  width: 80px;
  height: 320px;
  background-position: -165px -1289px
}

.menu021 {
  width: 80px;
  height: 320px;
  background-position: -165px -1611px
}

.menu022 {
  width: 80px;
  height: 320px;
  background-position: -247px -1px
}

.menu023 {
  width: 80px;
  height: 320px;
  background-position: -247px -323px
}

.menu024 {
  width: 80px;
  height: 320px;
  background-position: -247px -645px
}

.menu025 {
  width: 80px;
  height: 320px;
  background-position: -247px -967px
}

.menu026 {
  width: 80px;
  height: 320px;
  background-position: -247px -1289px
}

.menu027 {
  width: 80px;
  height: 320px;
  background-position: -247px -1611px
}

.menu028 {
  width: 80px;
  height: 320px;
  background-position: -329px -1px
}

.menu029 {
  width: 80px;
  height: 320px;
  background-position: -329px -323px
}

.menu030 {
  width: 80px;
  height: 320px;
  background-position: -329px -645px
}

.menu031 {
  width: 80px;
  height: 320px;
  background-position: -329px -967px
}

.menu032 {
  width: 80px;
  height: 320px;
  background-position: -329px -1289px
}

.menu033 {
  width: 80px;
  height: 320px;
  background-position: -329px -1611px
}

.menu034 {
  width: 80px;
  height: 320px;
  background-position: -411px -1px
}

.menu035 {
  width: 80px;
  height: 320px;
  background-position: -411px -323px
}

.menu036 {
  width: 80px;
  height: 320px;
  background-position: -411px -645px
}

.menu037 {
  width: 80px;
  height: 320px;
  background-position: -411px -967px
}

.menu038 {
  width: 80px;
  height: 320px;
  background-position: -411px -1289px
}

.menu039 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu040 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu041 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu042 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu043 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu044 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu045 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu046 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu047 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu048 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu049 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu050 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu051 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu052 {
  width: 80px;
  height: 320px;
  background-position: -411px -1611px
}

.menu053 {
  width: 80px;
  height: 320px;
  background-position: -493px -1px
}

.menu054 {
  width: 80px;
  height: 320px;
  background-position: -493px -323px
}

.menu055 {
  width: 80px;
  height: 320px;
  background-position: -493px -645px
}

.menu056 {
  width: 80px;
  height: 320px;
  background-position: -493px -967px
}

.menu057 {
  width: 80px;
  height: 320px;
  background-position: -493px -1289px
}

.menu058 {
  width: 80px;
  height: 320px;
  background-position: -493px -1611px
}

.menu059 {
  width: 80px;
  height: 320px;
  background-position: -575px -1px
}

.menu060 {
  width: 80px;
  height: 320px;
  background-position: -493px -1px
}

.menu061 {
  width: 80px;
  height: 320px;
  background-position: -575px -323px
}

.menu062 {
  width: 80px;
  height: 320px;
  background-position: -575px -645px
}

.menu063 {
  width: 80px;
  height: 320px;
  background-position: -575px -967px
}

.menu064 {
  width: 80px;
  height: 320px;
  background-position: -575px -1289px
}

.menu065 {
  width: 80px;
  height: 320px;
  background-position: -575px -1611px
}

.menu066 {
  width: 80px;
  height: 320px;
  background-position: -657px -1px
}

.menu067 {
  width: 80px;
  height: 320px;
  background-position: -657px -323px
}

.menu068 {
  width: 80px;
  height: 320px;
  background-position: -657px -645px
}

.menu069 {
  width: 80px;
  height: 320px;
  background-position: -657px -967px
}

.menu070 {
  width: 80px;
  height: 320px;
  background-position: -657px -967px
}

.menu071 {
  width: 80px;
  height: 320px;
  background-position: -657px -1289px
}

.menu072 {
  width: 80px;
  height: 320px;
  background-position: -657px -1289px
}

.menu073 {
  width: 80px;
  height: 320px;
  background-position: -657px -1289px
}

.menu074 {
  width: 80px;
  height: 320px;
  background-position: -657px -1289px
}

.menu075 {
  width: 80px;
  height: 320px;
  background-position: -657px -1289px
}

.menu076 {
  width: 80px;
  height: 320px;
  background-position: -657px -1289px
}

.menu077 {
  width: 80px;
  height: 320px;
  background-position: -657px -1289px
}

.menu078 {
  width: 80px;
  height: 320px;
  background-position: -657px -1289px
}

.menu079 {
  width: 80px;
  height: 320px;
  background-position: -657px -1611px
}

.menu080 {
  width: 80px;
  height: 320px;
  background-position: -739px -1px
}

.menu081 {
  width: 80px;
  height: 320px;
  background-position: -739px -323px
}

.menu082 {
  width: 80px;
  height: 320px;
  background-position: -739px -645px
}

.menu083 {
  width: 80px;
  height: 320px;
  background-position: -739px -967px
}

.menu084 {
  width: 80px;
  height: 320px;
  background-position: -739px -1289px
}

.menu085 {
  width: 80px;
  height: 320px;
  background-position: -739px -1611px
}

.menu086 {
  width: 80px;
  height: 320px;
  background-position: -821px -1px
}

.menu087 {
  width: 80px;
  height: 320px;
  background-position: -821px -323px
}

.menu088 {
  width: 80px;
  height: 320px;
  background-position: -821px -645px
}

.menu089 {
  width: 80px;
  height: 320px;
  background-position: -821px -645px
}

.menu090 {
  width: 80px;
  height: 320px;
  background-position: -821px -967px
}

.menu091 {
  width: 80px;
  height: 320px;
  background-position: -821px -1289px
}

.menu092 {
  width: 80px;
  height: 320px;
  background-position: -821px -1611px
}

.menu093 {
  width: 80px;
  height: 320px;
  background-position: -903px -1px
}

.menu094 {
  width: 80px;
  height: 320px;
  background-position: -903px -323px
}

.menu095 {
  width: 80px;
  height: 320px;
  background-position: -903px -645px
}

.menu096 {
  width: 80px;
  height: 320px;
  background-position: -903px -967px
}

.menu097 {
  width: 80px;
  height: 320px;
  background-position: -903px -1289px
}

.menu098 {
  width: 80px;
  height: 320px;
  background-position: -903px -1611px
}

.menu099 {
  width: 80px;
  height: 320px;
  background-position: -985px -1px
}

.menu100 {
  width: 80px;
  height: 320px;
  background-position: -985px -323px
}

.menu101 {
  width: 80px;
  height: 320px;
  background-position: -985px -645px
}

.menu102 {
  width: 80px;
  height: 320px;
  background-position: -985px -967px
}

.menu103 {
  width: 80px;
  height: 320px;
  background-position: -985px -1289px
}

.menu104 {
  width: 80px;
  height: 320px;
  background-position: -985px -1611px
}

.menu105 {
  width: 80px;
  height: 320px;
  background-position: -1067px -1px
}

.menu106 {
  width: 80px;
  height: 320px;
  background-position: -1067px -323px
}

.menu107 {
  width: 80px;
  height: 320px;
  background-position: -1067px -645px
}

.menu108 {
  width: 80px;
  height: 320px;
  background-position: -1067px -967px
}

.menu109 {
  width: 80px;
  height: 320px;
  background-position: -1067px -1289px
}

.menu110 {
  width: 80px;
  height: 320px;
  background-position: -1067px -1611px
}

.menu111 {
  width: 80px;
  height: 320px;
  background-position: -1149px -1px
}

.menu112 {
  width: 80px;
  height: 320px;
  background-position: -1149px -323px
}

.menu113 {
  width: 80px;
  height: 320px;
  background-position: -985px -1611px
}

.menu114 {
  width: 80px;
  height: 320px;
  background-position: -985px -1611px
}

.menu115 {
  width: 80px;
  height: 320px;
  background-position: -985px -1611px
}

.menu116 {
  width: 80px;
  height: 320px;
  background-position: -985px -1611px
}

.menu117 {
  width: 80px;
  height: 320px;
  background-position: -985px -1611px
}

.menu118 {
  width: 80px;
  height: 320px;
  background-position: -1149px -645px
}

.menu119 {
  width: 80px;
  height: 320px;
  background-position: -985px -1611px
}

.menu120 {
  width: 80px;
  height: 320px;
  background-position: -1149px -967px
}

.menu121 {
  width: 80px;
  height: 320px;
  background-position: -1149px -1289px
}

.menu122 {
  width: 80px;
  height: 320px;
  background-position: -1149px -1611px
}

.menu123 {
  width: 80px;
  height: 320px;
  background-position: -1231px -1px
}

.menu124 {
  width: 80px;
  height: 320px;
  background-position: -1231px -323px
}

.menu125 {
  width: 80px;
  height: 320px;
  background-position: -1231px -645px
}

.menu126 {
  width: 80px;
  height: 320px;
  background-position: -1231px -967px
}

.menu127 {
  width: 80px;
  height: 320px;
  background-position: -1231px -1289px
}

.menu128 {
  width: 80px;
  height: 320px;
  background-position: -1231px -1611px
}

.menu129 {
  width: 80px;
  height: 320px;
  background-position: -1313px -1px
}

.menu130 {
  width: 80px;
  height: 320px;
  background-position: -1313px -323px
}

.menu131 {
  width: 80px;
  height: 320px;
  background-position: -1313px -645px
}

.menu132 {
  width: 80px;
  height: 320px;
  background-position: -1313px -967px
}

.menu133 {
  width: 80px;
  height: 320px;
  background-position: -1313px -967px
}

.menu134 {
  width: 80px;
  height: 320px;
  background-position: -1313px -1289px
}

.menu135 {
  width: 80px;
  height: 320px;
  background-position: -1313px -1611px
}

.menu136 {
  width: 80px;
  height: 320px;
  background-position: -1395px -1px
}

.menu137 {
  width: 80px;
  height: 320px;
  background-position: -1395px -323px
}

.menu138 {
  width: 80px;
  height: 320px;
  background-position: -1395px -645px
}

.menu139 {
  width: 80px;
  height: 320px;
  background-position: -1395px -967px
}

.menu140 {
  width: 80px;
  height: 320px;
  background-position: -1395px -1289px
}

.menu141 {
  width: 80px;
  height: 320px;
  background-position: -1395px -1611px
}

.menu142 {
  width: 80px;
  height: 320px;
  background-position: -1477px -1px
}

.menu143 {
  width: 80px;
  height: 320px;
  background-position: -1477px -323px
}

.menu144 {
  width: 80px;
  height: 320px;
  background-position: -1477px -645px
}