/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:3e464487a703b59aa79125d6c5ca9199:c4ab1dd58dee91439646e8d6fab6cf76:7dad2ab8a4760bef45c4b5ee7cf1073e$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(menu.png);}

.menu000 {width:3px; height:3px; background-position: -76px -1018px}
.menu001 {width:3px; height:3px; background-position: -81px -1018px}
.menu002 {width:3px; height:3px; background-position: -86px -1018px}
.menu003 {width:62px; height:9px; background-position: -76px -681px}
.menu004 {width:62px; height:9px; background-position: -76px -692px}
.menu005 {width:62px; height:9px; background-position: -140px -681px}
.menu006 {width:62px; height:9px; background-position: -140px -692px}
.menu007 {width:62px; height:9px; background-position: -215px -999px}
.menu008 {width:73px; height:159px; background-position: -1px -387px}
.menu009 {width:73px; height:139px; background-position: -76px -877px}
.menu010 {width:73px; height:122px; background-position: -705px -645px}
.menu011 {width:73px; height:108px; background-position: -780px -1px}
.menu012 {width:73px; height:95px; background-position: -780px -602px}
.menu013 {width:73px; height:85px; background-position: -802px -919px}
.menu014 {width:73px; height:203px; background-position: -1px -1px}
.menu015 {width:73px; height:179px; background-position: -1px -206px}
.menu016 {width:73px; height:157px; background-position: -1px -548px}
.menu017 {width:73px; height:140px; background-position: -1px -877px}
.menu018 {width:73px; height:124px; background-position: -215px -873px}
.menu019 {width:73px; height:111px; background-position: -716px -138px}
.menu020 {width:73px; height:99px; background-position: -716px -501px}
.menu021 {width:73px; height:88px; background-position: -844px -699px}
.menu022 {width:73px; height:79px; background-position: -705px -769px}
.menu023 {width:73px; height:72px; background-position: -877px -882px}
.menu024 {width:73px; height:65px; background-position: -877px -956px}
.menu025 {width:73px; height:60px; background-position: -791px -186px}
.menu026 {width:73px; height:56px; background-position: -855px -1px}
.menu027 {width:73px; height:53px; background-position: -855px -126px}
.menu028 {width:73px; height:51px; background-position: -930px -1px}
.menu029 {width:73px; height:49px; background-position: -866px -181px}
.menu030 {width:73px; height:49px; background-position: -930px -125px}
.menu031 {width:73px; height:48px; background-position: -910px -232px}
.menu032 {width:73px; height:48px; background-position: -941px -176px}
.menu033 {width:73px; height:48px; background-position: -791px -496px}
.menu034 {width:73px; height:48px; background-position: -791px -546px}
.menu035 {width:73px; height:48px; background-position: -855px -596px}
.menu036 {width:73px; height:48px; background-position: -855px -646px}
.menu037 {width:73px; height:48px; background-position: -919px -696px}
.menu038 {width:73px; height:48px; background-position: -930px -746px}
.menu039 {width:73px; height:48px; background-position: -930px -796px}
.menu040 {width:71px; height:50px; background-position: -780px -392px}
.menu041 {width:69px; height:50px; background-position: -941px -432px}
.menu042 {width:67px; height:52px; background-position: -930px -613px}
.menu043 {width:65px; height:54px; background-position: -845px -307px}
.menu044 {width:63px; height:58px; background-position: -780px -332px}
.menu045 {width:62px; height:64px; background-position: -919px -59px}
.menu046 {width:62px; height:73px; background-position: -791px -111px}
.menu047 {width:62px; height:91px; background-position: -866px -789px}
.menu048 {width:62px; height:111px; background-position: -780px -699px}
.menu049 {width:62px; height:124px; background-position: -716px -251px}
.menu050 {width:62px; height:135px; background-position: -716px -1px}
.menu051 {width:62px; height:148px; background-position: -151px -873px}
.menu052 {width:62px; height:158px; background-position: -652px -332px}
.menu053 {width:62px; height:165px; background-position: -652px -1px}
.menu054 {width:62px; height:168px; background-position: -1px -707px}
.menu055 {width:62px; height:168px; background-position: -65px -707px}
.menu056 {width:62px; height:168px; background-position: -76px -1px}
.menu057 {width:62px; height:168px; background-position: -76px -171px}
.menu058 {width:62px; height:168px; background-position: -76px -341px}
.menu059 {width:62px; height:168px; background-position: -76px -511px}
.menu060 {width:62px; height:168px; background-position: -129px -703px}
.menu061 {width:62px; height:168px; background-position: -140px -1px}
.menu062 {width:62px; height:168px; background-position: -140px -171px}
.menu063 {width:62px; height:168px; background-position: -140px -341px}
.menu064 {width:62px; height:168px; background-position: -140px -511px}
.menu065 {width:62px; height:168px; background-position: -193px -703px}
.menu066 {width:62px; height:168px; background-position: -204px -1px}
.menu067 {width:62px; height:168px; background-position: -204px -171px}
.menu068 {width:62px; height:168px; background-position: -204px -341px}
.menu069 {width:62px; height:168px; background-position: -204px -511px}
.menu070 {width:62px; height:168px; background-position: -257px -681px}
.menu071 {width:62px; height:168px; background-position: -290px -851px}
.menu072 {width:62px; height:168px; background-position: -268px -1px}
.menu073 {width:62px; height:168px; background-position: -268px -171px}
.menu074 {width:62px; height:168px; background-position: -268px -341px}
.menu075 {width:62px; height:168px; background-position: -268px -511px}
.menu076 {width:62px; height:168px; background-position: -321px -681px}
.menu077 {width:62px; height:168px; background-position: -354px -851px}
.menu078 {width:62px; height:168px; background-position: -332px -1px}
.menu079 {width:62px; height:168px; background-position: -332px -171px}
.menu080 {width:62px; height:168px; background-position: -332px -341px}
.menu081 {width:62px; height:168px; background-position: -332px -511px}
.menu082 {width:62px; height:168px; background-position: -385px -681px}
.menu083 {width:62px; height:168px; background-position: -418px -851px}
.menu084 {width:62px; height:168px; background-position: -396px -1px}
.menu085 {width:62px; height:168px; background-position: -396px -171px}
.menu086 {width:62px; height:168px; background-position: -396px -341px}
.menu087 {width:62px; height:168px; background-position: -396px -511px}
.menu088 {width:62px; height:168px; background-position: -449px -681px}
.menu089 {width:62px; height:168px; background-position: -482px -851px}
.menu090 {width:62px; height:168px; background-position: -460px -1px}
.menu091 {width:62px; height:168px; background-position: -460px -171px}
.menu092 {width:62px; height:168px; background-position: -460px -341px}
.menu093 {width:62px; height:168px; background-position: -460px -511px}
.menu094 {width:62px; height:168px; background-position: -513px -681px}
.menu095 {width:62px; height:168px; background-position: -546px -851px}
.menu096 {width:62px; height:168px; background-position: -524px -1px}
.menu097 {width:62px; height:168px; background-position: -524px -171px}
.menu098 {width:62px; height:168px; background-position: -524px -341px}
.menu099 {width:62px; height:168px; background-position: -524px -511px}
.menu100 {width:62px; height:168px; background-position: -577px -681px}
.menu101 {width:62px; height:168px; background-position: -610px -851px}
.menu102 {width:62px; height:168px; background-position: -588px -1px}
.menu103 {width:62px; height:168px; background-position: -588px -171px}
.menu104 {width:62px; height:168px; background-position: -588px -341px}
.menu105 {width:62px; height:168px; background-position: -588px -511px}
.menu106 {width:62px; height:168px; background-position: -641px -681px}
.menu107 {width:62px; height:167px; background-position: -674px -851px}
.menu108 {width:62px; height:162px; background-position: -652px -168px}
.menu109 {width:62px; height:151px; background-position: -652px -492px}
.menu110 {width:62px; height:137px; background-position: -738px -850px}
.menu111 {width:62px; height:122px; background-position: -716px -377px}
.menu112 {width:62px; height:105px; background-position: -802px -812px}
.menu113 {width:62px; height:79px; background-position: -780px -251px}
.menu114 {width:62px; height:65px; background-position: -855px -59px}
.menu115 {width:64px; height:57px; background-position: -844px -248px}
.menu116 {width:66px; height:53px; background-position: -952px -846px}
.menu117 {width:69px; height:50px; background-position: -941px -484px}
.menu118 {width:71px; height:50px; background-position: -780px -444px}
.menu119 {width:73px; height:48px; background-position: -853px -363px}
.menu120 {width:73px; height:48px; background-position: -912px -282px}
.menu121 {width:73px; height:48px; background-position: -853px -413px}
.menu122 {width:73px; height:48px; background-position: -866px -463px}
.menu123 {width:73px; height:48px; background-position: -928px -332px}
.menu124 {width:73px; height:48px; background-position: -928px -382px}
.menu125 {width:73px; height:48px; background-position: -866px -513px}
.menu126 {width:73px; height:48px; background-position: -930px -563px}
