
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white!important;
    display: flex;
    background: #000 url('/best-of/2019/black_back.jpg') top center repeat-y;    
    background-position:  top center;
    background-repeat: repeat-y;
}

#menu {
    position: relative;
    z-index: 2;
}

h1{
    font-size: 46px;
    font-weight: 800;
    line-height: 50px;

    margin: 0;
    padding: 0;
}

h2{
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 35px;
    padding: 0;
}

h3{
    font-size: 17px;
    font-weight: 100;
    line-height: 30px;

    margin: 0;
    padding: 0;
}
h4{
    font-size: 40px;
    font-weight: 800;
    line-height: 46px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

#menu-container {
    position: fixed;
    color : black;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 1;

}

#menu {
    pointer-events: all;
}

#canvas-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: none!important;
}

#main{
    position: relative;
    width: 100%;
    background : url('/best-of/2019/lines.png') top center repeat-y;
}
.projet, .title {
    /*width: 420px;*/
    display: flex;
    flex-direction: column;
}

.title{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.centerContainer{
    padding: 40px;

    max-width: 1200px;
    margin: 0 auto;
}

.title-txt{
    font-size: 30px;  
    font-weight: 100;
    text-transform: uppercase;
    line-height: 30px;

    flex-grow: 1;
}
.title-txt img{
    max-width: 50%;
    width: 50%;
}

.title-big-txt{
    font-size: 70px;
    color: white;
    line-height: 100px;

    font-weight: 800;
    text-transform: uppercase;

    flex-grow: 1;
}
#titleMotion .title-big-txt{
    font-size: 70px;
    line-height: 100px;
}
.title-number-txt{
    font-size: 120px;
    line-height: 160px;
}

.line{
    display: flex;
    flex-direction:column;
    margin: 20px 0;
}

.projectHeader{
    flex-grow: 0.5;
}

.projectHashtags{
    flex-grow: 2;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;

    text-align: left;

    margin: 40px 0;
    
}
.projectHashtags ul{
    margin: 0;
    padding: 0;
}
.projectHashtags ul li{
    list-style: none;
    line-height: 24px;
    
    display: inline;
}
.projectVideo{
    flex-grow: 2.5;
}
.projectCredits{
    flex-grow: 1;
    justify-content: left;
    padding: 50px;
}
.projectCredits ul{
    margin: 0;
    padding: 0;
}
.projectCredits ul li{
    list-style: none;
    line-height: 18px;
    margin-bottom: 16px;

    font-size: 12px;
    color: #676767;
}
.projectCredits ul li a{
    color: #676767;
    text-decoration: none;
}
.title-txt a{
    color: #FFFFFF;
    text-decoration: none;
}
.projectCredits ul li b{
    text-transform: uppercase;
}
.video{
    width: 100%;
    height: 270px;
}
#showreelInstallations, #showreelMotionDesign{
    margin: 60px 0 0 0;
}
.aspect-ratio-box {
    height: 0;
    /*width: 70%;*/
    overflow: hidden;
    padding-top: 40%;
    background: white;
    position: relative;
}
.aspect-ratio-box-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;
}


.projetMini{
    display: flex;
    flex-direction: column-reverse;

    margin: 100px 0 120px 0;
    align-items: center;
}
#annecy{
    flex-direction: column-reverse;
}
.titleMini{
    display: flex;
    flex-grow: 4;
    
    justify-content: flex-start;
    margin-left:40px;
}
#annecy .titleMini{
    justify-content: flex-end;
    margin-right:40px;
}
#annecy .picturesMini{
    justify-content: flex-end;
}


.picturesMini{

    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}
.picturesMini img{
    max-width: 50%;
}

.iepng{
    display:none;
}
.apng{
    /*display:block;*/
    /*display:none;*/
}

@media screen and (min-width: 920px) {
    
}

@media screen and (min-width: 1200px)  {

    body{
        background: #000 url('/best-of/2019/black_back.jpg') top center repeat-y;    
        /*background:#000 url('../img/cover_back.jpg') top center no-repeat;*/
    }
    h1{
        font-size: 70px;
        line-height: 60px;
    }
    
    h2{
        font-size: 18px;
        line-height: 46px;
    }
    h3{
        font-size: 24px;
    }
    #showreelInstallations, #showreelMotionDesign{
        margin: 60px 0 0 0;

    }
    ​.projet{
        /*width: 960px;*/
        flex-direction: row;
    }
    .title{
        /*width: 960px;*/
    }
    .title-txt img{
        max-width: 50%;
        width: 40%;
    }
    .title-big-txt{
        font-size: 100px;
    }
    .title-number-txt{
        font-size: 200px;
    }
    .line{
        /*width: 960px;*/
        flex-direction:row;
    }
    .left{
        flex-direction: row;
    }
    .right{
        flex-direction: row-reverse;
    }
    .video{
        /*width: 666px;*/
        width: 100%;
        height: 374px;
    }
    .right .projectHeader{
        text-align: right;
    }
    .projectHashtags{
        display: flex;
        justify-content: center;

        margin:0;

        align-self: flex-end;
    }
    
    .projectHashtags ul{
        display: inline-block;
    }
    .projectHashtags ul li{
        display: list-item;
    }
    .mini{
        justify-content: left;
        align-self: flex-start;
    }

    .right .projectCredits{
        text-align: right;
    }

    .projetMini{
        flex-direction: row;
    }
    #annecy{
        flex-direction: row-reverse;
    }
    .picturesMini img{
        max-width: 100%;
    }
    
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    
    .iepng{
        display:inline;
    }
    .apng{
        display:none;
    }
  }
